:root {
  /* fonts */

  --ff-primary: 'Laila', sans-serif;
  --ff-secondary: 'Fredericka the Great', cursive;
  --ff-accent: 'Arizonia', cursive;

  --bs-body-font-family: var(--ff-primary);


  /* colors */
  --primary-color: #1a1a1a;
  --secondary-color: #ffffff;
  --accent-color: rgb(23, 72, 171);
  --accent-color1: rgb(211, 50, 58);
  --accent-color2: #fad520;
  /* --accent-color2: rgb(255, 216, 37); */
  --accent-color3: #f58322;



  --bs-nav-link-color: var(--accent-color3);

  --max-width: 1260px;

  --bs-nav-link-font-size: 1.2rem;
  --bs-navbar-active-color: rgb(255, 115, 0);

  --bs-navbar-toggler-border-color: rgba(255, 0, 0, 0.5);

  --bs-navbar-hover-color: rgb(255, 115, 0);
}


body{
  max-width: 1920px;
  font-family: 'Laila', sans-serif;
  background-color: var(--secondary-color);
  /* background-image: url('../assets/pictures/test/test-bg.png'); */
}
.logo-container {
  display: grid;
  place-items: center;
}
/* body::before {
  display: block;
  content: "";
  height: 70px;
} */

section::before {
  display: block;
  content: "";
  height: 70px;
}

section::after {
  display: block;
  content: "";
  height: 70px;
}

/* footer::before {
  display: block;
  content: "";
  height: 70px;
} */

.container {
  max-width: var(--max-width);
} 

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative;
  overflow: hidden;
  /* background-image: url('../assets/pictures/test_bg.png');
  background-position: center center;
  background-repeat: no-repeat; */
}
.top-logo {
  z-index: 100;
  width: 200px;
}
.top-logo img {
  width: 100%;
}
/* .top-name1 {
  font-family: var(--ff-secondary);
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  line-height: 0.2;
  margin-bottom: 1rem;
  letter-spacing: .7rem;
}
.top-name2 {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
  line-height: normal;
  letter-spacing: .5rem;
} */


/* Brushes */

.lightblue-brush {
  position: absolute;
  top: -80%;
  left: -3%;
  width: 300px;
  height: 300px;
  rotate: 45deg;
  z-index: 30;
}
/* .lightblue-brush1 {
  position: absolute;
  top: -70%;
  left: 0%;
  width: 300px;
  height: 300px;
  rotate: 45deg;
  z-index: 31;
} */
.lightblue-brush2 {
  position: absolute;
  top: -100%;
  left: -10%;
  width: 300px;
  height: 300px;
  rotate: 60;
  z-index: 32;
}

.lightblue-brush3 {
  position: absolute;
  top: -70%;
  left: 0%;
  width: 300px;
  height: 300px;
  z-index: 33;
}

.red-brush {
  position: absolute;
  top: -50%;
  left: 30%;
  width: 300px;
  height: 200px;
  rotate: 10deg;
  z-index: 40;
}
.red-brush1 {
  position: absolute;
  left: 20%;
  top: -30%;
  width: 200px;
  height: 200px;
  rotate: 40deg;
  z-index: 41;
}
.red-brush2 {
  position: absolute;
  left: 30%;
  top: -50%;
  width: 200px;
  height: 200px;
  z-index: 42;
}

.red-brush3 {
  position: absolute;
  left: 40%;
  top: -70%;
  width: 300px;
  height: 300px;
  rotate: 45deg;
  z-index: 43;
}

.purple-brush {
  position: absolute;
  left: 15%;
  top: -65%;
  width: 300px;
  height: 300px;
  rotate: 50deg;
  z-index: 50;
}

.purple-brush1 {
  position: absolute;
  left: 20%;
  top: -80%;
  width: 300px;
  height: 300px;
  rotate: 150deg;
  z-index: 51;
}
.purple-brush2 {
  position: absolute;
  left: 10%;
  top: -60%;
  width: 300px;
  height: 300px;
  rotate: 170deg;
  z-index: 52;
}

.orange-brush {
  position: absolute;
  top: -60%;
  left: 60%;
  width: 300px;
  height: 300px;
  z-index: 60;
}
.orange-brush1 {
  position: absolute;
  top: -60%;
  left: 65%;
  width: 300px;
  height: 300px;
  z-index: 61;
}

.orange-brush2 {
  position: absolute;
  top: -70%;
  left: 58%;
  width: 300px;
  height: 300px;
  rotate: 45deg;
  z-index: 62;
}
.orange-brush3 {
  position: absolute;
  top: -50%;
  left: 50%;
  width: 300px;
  height: 300px;
  rotate: 45deg;
  z-index: 45;
}

.yellow-brush {
  position: absolute;
  top: -80%;
  left: 80%;
  width: 300px;
  height: 300px;
  z-index: 10;
}
.yellow-brush1 {
  position: absolute;
  top: -50%;
  left: 90%;
  width: 200px;
  height: 200px;
  z-index: 11;
  
}

.yellow-brush2 {
  position: absolute;
  top: -80%;
  left: 80%;
  width: 300px;
  height: 300px;
  z-index: 12;
}

.yellow-brush3 {
  position: absolute;
  top: -70%;
  left: 75%;
  width: 300px;
  height: 300px;
  z-index: 13;
}
.yellow-brush4 {
  position: absolute;
  top: -50%;
  left: 70%;
  width: 300px;
  height: 300px;
  z-index: 45;
}

.navbar {
  background-color: var(--secondary-color);
  --bs-navbar-active-color: var(--accent-color3);
  height: 4rem;
}

.navbar-brand {
  min-height: 100px;
}

.social-icon {
  font-size: 1.8rem;
  padding: .2rem;
  color: #1a1a1a;
}
.toggle-btn {
  margin: 0 auto;
}
/* .navbar-brand {
  font-family: var(--ff-accent);
  font-size: 1.8rem;
  padding: .2rem;
} */
.navbar-nav {
  background-color: var(--secondary-color);
}

.navbar-toggler {
  padding: 0.2rem;
}
.navbar-toggler-icon:active {
  outline: none;
}

.navbar-nav:first-child {
  margin-top: 0.42rem;
}

.navbar-nav:last-child {
  margin-bottom: 0rem;
}
/* nav .container {
  --bs-gutter-x: 0rem
} */
/********** Navigation *************/
/* .navbar-nav:first-child {
  margin-top: 2rem;
}

.navbar-nav:last-child {
  margin-bottom: 2rem;
} */

/* .navbar-toggler {
  padding: 0.2rem;
  border: none;
} */

.navbar-toggler-icon:active {
  outline: var(--bs-navbar-toggler-border-color);
}

/* Hero Section */
.hero {
  background-image: url('../assets/pictures/hero_bg.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 1rem;
  height: calc(100vh - 70px);
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  height: calc(80vh - 70px);
  padding: 1rem;
}

.hero-heading {
  font-size: clamp(2.6rem, 5vw, 5rem);
  font-weight: 900;
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.8);
}

.hero-subheading {
  max-width: 40ch;
  font-size: 1.2rem;
}

.hero-btn_container{
background-color: transparent;
}

.hero-btn {
  background-color: var(--accent-color3);
  font-weight: 800;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0.75rem 1.50rem;
  border-radius: .3rem;
}

.hero-btn:hover,
.hero-btn:active {
  background-color: var(--accent-color1);
  color: var(--secondary-color);
}


/* Media Queries */

@media (max-width: 576px) {
  .hero {
    background-image: url('../assets/pictures/mob_bg.jpg');
    background-position: top center;
  }
  .hero-content {
    min-height: 80vh;
  }
  
}
@media (max-width: 992px) {
  .asc_with {
    gap: 2rem;
  }
}
@media (min-width: 992px) {
  .logo-visible {
    display: block;
  }
  .logo-screen{
    display: none;
  }
  .navbar-nav:first-child {
    margin-top: 0rem;
  }
  
  .navbar-nav:last-child {
    margin-bottom: 0rem;
  }
}
@media (max-width: 992px) {
  .logo-visible {
    display: none;
  }
  .logo-screen{
    display: flex;
  }
}

/* Fact Section */
.interesting-fact_section {
  background-color: var(--accent-color);
}

.interesting-fact_section1 {
  background-color: var(--accent-color1);
}

.interesting-fact_section2 {
  background-color: var(--accent-color2);
}
.interesting-fact_section3 {
  background-color: var(--accent-color3);
}

.interesting-fact_container {
  text-align: center;
  max-width: 60ch;
  margin: 0 auto;
  font-style: italic;
}
.fact-text {
  font-size: 1.5rem;
  font-weight: 800;
  /* text-shadow: 1px 1px 1px black; */
}


/* About */
.about-img_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}
.about-img {
  min-width: 300px;
  max-width: 400px;
}
/* Section Heading */

.section-heading h2 {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* Accordian */

.accordion {
  --bs-accordion-bg: transparent;
  --bs-accordion-color: var(--primary-color);
  --bs-accordion-active-color: var(--accent-color);
  --bs-accordion-active-bg: transparent;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.2rem var(--accent-color);
}
.accordion-button {
  font-size: 1.2rem;
}

/* contact */
.contact-content_container {
  position: relative;
  isolation: isolate;
  min-height: 100%;
  overflow: hidden;
}
.contact-content {
  display: grid;
  place-items: center;
  text-align: center;
}
.contact-mobile {
  z-index: 101;
}
.contact-mail {
  z-index: 102;
}
.contact-social {
  z-index: 103;
}
.bi-phone {
  font-size: 3rem;
}
.bi-mailbox {
  font-size: 3rem;
}
.contact-social {
  display: flex;
  gap: 2rem;
}
.contact-fb {
  width: 50px;
}

.contact-fb:hover {
  outline: 1px solid black;
}
.contact-instagram {
  width: 50px;
}
.contact-instagram:hover {
  outline: 1px solid black;
}

.contact_image-container {
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
}
.contact_image-container img {
  width: 80%;
}

/* Adults */
.card {
  background-color: var(--secondary-color);
  border: none;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
  height: 100%;
  text-align: left;
}

.card__preview-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.modal {
  --bs-modal-width: 500px;
}
.asc_with img {
  max-width: 100px;
}

/* gallery */

.img-thumbnail {
  /* background-color: var(--accent-color); */
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
  border: none;
}



/* FOOTER */
footer {
  background-color: var(--accent-color3);
  color: var(--secondary-color);
}
.footer-logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo  {
  margin: 0 auto;
  width: 200px;
}
.quick-nav a {
  color: #ffffff;
}

.quick-nav a:hover {
  color: rgba(255, 255, 255, 0.6);
}
.footer-fb {
  width: 50px;
}
.footer-instagram {
  width: 50px;
}

/* Buttons */
.common-btn{
  background-color: var(--accent-color3);
  font-weight: 800;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0.5rem 1.20rem;
  border-radius: .3rem;
}

.common-btn:hover,
.common-btn:active {
  background-color: var(--accent-color1);
}

.contact-btn {
  background-color: var(--accent-color1);
  font-weight: 800;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0.5rem 1.20rem;
  border-radius: .3rem;
}

.contact-btn:hover,
.contact-btn:active {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}