:root {
  /* fonts */

  --ff-primary: 'Laila', sans-serif;
  --ff-secondary: 'Fredericka the Great', cursive;
  --ff-accent: 'Arizonia', cursive;

  --bs-body-font-family: var(--ff-primary);


  /* colors */
  --primary-color: #1a1a1a;
  --secondary-color: #ffffff;
  --accent-color: rgb(23, 72, 171);
  --accent-color1: rgb(211, 50, 58);
  --accent-color2: rgb(255, 216, 37);
  --accent-color3: rgb(255, 69, 0);



  --bs-nav-link-color: var(--accent-color3);

  --max-width: 1366px;

  --bs-nav-link-font-size: 1.2rem;
  --bs-navbar-active-color: rgb(255, 115, 0);

  --bs-navbar-toggler-border-color: rgba(255, 0, 0, 0.5);

  --bs-navbar-hover-color: rgb(255, 115, 0);
}


body{
  max-width: 1920px;
  font-family: 'Laila', sans-serif;
  background-color: var(--secondary-color);
  background-image: url('../assets/pictures/test/test-bg.png');
}
.logo-container {
  display: grid;
  place-items: center;
}
body::before {
  display: block;
  content: "";
  height: 70px;
}

section::before {
  display: block;
  content: "";
  height: 100px;
}

section::after {
  display: block;
  content: "";
  height: 70px;
}

footer::before {
  display: block;
  content: "";
  height: 70px;
}

.container {
  max-width: var(--max-width);
} 

/********** Navigation *************/
nav {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.nav-link {
  color: var(--primary-color);
}

.nav-link:hover {
  color: var(--accent-color1);
}

.navbar {
  background-color: var(--secondary-color);
  --bs-navbar-active-color: var(--accent-color3);
}
.navbar-brand {
  font-family: var(--ff-accent);
  font-size: clamp(2rem, 4vw, 3rem);
}

.navbar-nav {
  --bs-nav-link-font-weight: 500;
}

.navbar-toggler {
  color: var(--accent-color);
}

.navbar-nav:first-child {
  margin-top: 2rem;
}

.navbar-nav:last-child {
  margin-bottom: 2rem;
}

.navbar-toggler {
  padding: 0.2rem;
  border: none;
}

.navbar-toggler-icon:active {
  outline: var(--bs-navbar-toggler-border-color);
}

/* .navbar-toggler-icon {
  width: 20px;
} */

/* Hero Section */
.hero {
  background-image: url('../assets/pictures/hero_bg.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 1rem;
  height: calc(100vh - 70px);
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  height: calc(80vh - 70px);
  padding: 1rem;
}

.hero-heading {
  font-size: clamp(2.6rem, 5vw, 5rem);
  font-weight: 900;
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.8);
}

.hero-subheading {
  max-width: 40ch;
  font-size: 1.2rem;
}

.hero-btn_container{
background-color: transparent;
}

.hero-btn {
  background-color: var(--accent-color3);
  font-weight: 800;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0.75rem 1.50rem;
  border-radius: .3rem;
}

.hero-btn:hover,
.hero-btn:active {
  background-color: var(--accent-color1);
  color: var(--secondary-color);
}


/* Media Queries */

@media (max-width: 576px) {
  .hero {
    background-image: url('../assets/pictures/mob_bg.jpg');
    background-position: top center;
  }
  .hero-content {
    min-height: 80vh;
  }
  .logo-visible {
    display: none;
  }
}
@media (max-width: 992px) {
  .asc_with {
    gap: 2rem;
  }
}
@media (min-width: 992px) {
  .logo-visible {
    display: block;
  }
  .logo-screen{
    display: none;
  }
  .navbar-nav:first-child {
    margin-top: 0rem;
  }
  
  .navbar-nav:last-child {
    margin-bottom: 0rem;
  }
}
@media (max-width: 992px) {
  .logo-visible {
    display: none;
  }
  .logo-screen{
    display: flex;
  }
}

/* Fact Section */
.interesting-fact_section {
  background-color: var(--accent-color);
}

.interesting-fact_section1 {
  background-color: var(--accent-color1);
}

.interesting-fact_section2 {
  background-color: var(--accent-color2);
}
.interesting-fact_section3 {
  background-color: var(--accent-color3);
}

.interesting-fact_container {
  text-align: center;
  max-width: 60ch;
  margin: 0 auto;
  font-style: italic;
}

/* About */
.about-img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}
.about-img {
  width: 100%;
  
}
/* Section Heading */

.section-heading h2 {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* Accordian */

.accordion {
  --bs-accordion-bg: transparent;
  --bs-accordion-color: var(--primary-color);
  --bs-accordion-active-color: var(--accent-color);
  --bs-accordion-active-bg: transparent;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.2rem var(--accent-color);
  font-size: 1.2rem;
}
.accordion-button {
  font-size: 1.2rem;
}

/* contact */

.contact-content {
  display: grid;
  place-items: center;
  text-align: center;
}
.bi-phone {
  font-size: 3rem;
}
.bi-mailbox {
  font-size: 3rem;
}
.contact-social {
  display: flex;
  gap: 2rem;
}
.contact-fb {
  width: 50px;
}

.contact-fb:hover {
  outline: 1px solid black;
}
.contact-instagram {
  width: 50px;
}
.contact-instagram:hover {
  outline: 1px solid black;
}

.contact_image-container {
  display: grid;
  place-items: center;
  gap: 1rem;
}
.contact_image-container img {
  width: 80%;
}

/* Adults */
.card {
  background-color: var(--secondary-color);
  border: none;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
  height: 100%;
  text-align: left;
}

.card__preview-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.modal {
  --bs-modal-width: 500px;
}


/* gallery */

.img-thumbnail {
  /* background-color: var(--accent-color); */
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
  border: none;
}

/* facts */

.fact-text {
  font-size: 2rem;
  font-weight: 800;
  /* text-shadow: 1px 1px 1px black; */
}


/* FOOTER */
footer {
  background-color: var(--accent-color3);
  color: var(--primary-color);
}
.footer-fb {
  width: 50px;
}
.footer-instagram {
  width: 50px;
}

/* Buttons */
.common-btn{
  background-color: var(--accent-color3);
  font-weight: 800;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0.5rem 1.20rem;
  border-radius: .3rem;
}

.common-btn:hover,
.common-btn:active {
  background-color: var(--accent-color1);
}